@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: white;
  font-weight: lighter;
}

.App-header{
  background-color: rgba(255, 255, 255, 0.034);
  border: rgb(84, 229, 255) solid 1px;
  padding: 5px;
  width: 50%;
  margin-top: 20px;
}

